/* Reset CSS */
* {
padding: 0;
margin: 0;
box-sizing: content-box;
}

html {
scroll-behavior: smooth;
font-family: Arial, Helvetica, sans-serif;
}


.flex-direction-row {
    flex-direction: row;
}

.flex-direction-row-reversed {
    flex-direction: row-reverse;
}

/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết
*/

/* 
1. Vị trí
2. Kích thước (width, height)
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình tròn, hình vuông, ...)
*/

/* Common */

.text-white {
    color: #fff !important;
}

.text-center {
text-align: center;
}

.pull-right {
    float: right;
}

li {
    list-style: none;
}


.logo img {
    width: 108px;
    height: 32px;
}

#header {
    position: fixed;
    padding-top: 20px;
    height: 45px;
    width: 100%;
}

#nav {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 45px;
    margin-right: 45px;
}

.nav-child {
    display: flex;
}

.nav-child .login {
    margin-left: 32px;
}

.language {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    font-size: 14px;
    color: #fff;
    border: 1px solid #fff;
    padding: 6px 8px;
    line-height: 24px;
    cursor: pointer;
}

.language:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.language i {
    font-size: 12px;
    color: #fff;
}

.language .angle-down {
    margin-left: 12px;
    margin-right: 4px;
}

.sign-in {
    padding: 7px 17px;
    line-height: 24px;
    margin-left: 24px;
    background-color: #e50914;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

.sign-in:hover {
    background-color: #df0712;
}

#body {
    width: 100%;
    height: 100%;
}

.content {
    max-width: 100%;
    height: auto;
    padding: 70px 45px;
}

#content-container {
    height: 100%;
    max-width: 100%;
}

#content-container .content {
    background-color: #000;
    border-bottom: 8px solid #222;
}

#content-container .register {
    height: 704px;
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: 8px solid #222;
}

#content-container .register .header-image {
    z-index: -1;
    position: absolute;
    height: inherit;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
}

.register-content {
    position: relative;
    left: auto;
    top: 20%;
    left: 10%;
    margin: auto;
    padding: 75px 0;
    width: 950px;
    height: 361px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.register-content-title {
    width: 640px;
    font-size: 3.125rem;
    margin: 0 32px;
    font-weight: 600;
}

.register-content-infor {
    width: 640px;
    font-size: 1.625rem;
    margin: 16px 32px;
    font-weight: 52 0;
}

.register-form {
    width: 950px;
    height: 114px;
    padding: 13.6px 0 0 0;
}

.register-form .register-form-container {
    position: relative;
    right: 12.5%;
}

.register-form-title {
    font-size: 1.2rem;
    width: 620px;
    padding: 0 40px 20px 40px;
}

.register-form-input {
    border: 1px solid #ccc;
    width: 450px;
    height: 60px;
    font-size: 16px;
    padding: 0 24px;
    border-radius: 3px;
}

.register-form-button {
    right: 4px;
    top: 3px;
    border: 1px solid #df0712;
    background-color: #df0712;
    border-radius: 1px;
    position: relative;
    width: 212px;
    height: 60px;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.register-form-button-icon {
    font-size: 16px;
}

.register-form-button:hover {
    background-color: #f40612;
}

.content .content-box {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
}

.content-box-child {
    height: 20rem;
    width: 40rem;
}

.content-box .content-box-text {
    color: #fff;
}

.content-box-text {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    justify-content: center;
    width: 550px;
}

.content-box-text .content-box-text-title {
    font-size: 3.125rem;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: .5rem;
}

.content-box-text .content-box-text-desc {
    font-size: 1.625rem;
    font-weight: 400;
    margin: 19.5px 0 6.5px 0;
}

.content-box-media {
    width: 530px;
    height: 400px;
}

.content-box-media-img {
    max-height: 100%;
    width: 500px;
}